<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MageSuite\NotificationDashboard\Api\UserRepositoryInterface" type="MageSuite\NotificationDashboard\Model\UserRepository"/>
    <preference for="MageSuite\NotificationDashboard\Api\Data\UserInterface" type="MageSuite\NotificationDashboard\Model\Data\User"/>
    <preference for="MageSuite\NotificationDashboard\Api\CollectorRepositoryInterface" type="MageSuite\NotificationDashboard\Model\CollectorRepository"/>
    <preference for="MageSuite\NotificationDashboard\Api\Data\CollectorInterface" type="MageSuite\NotificationDashboard\Model\Data\Collector"/>
    <preference for="MageSuite\NotificationDashboard\Api\CollectorUserRepositoryInterface" type="MageSuite\NotificationDashboard\Model\CollectorUserRepository"/>
    <preference for="MageSuite\NotificationDashboard\Api\Data\CollectorUserInterface" type="MageSuite\NotificationDashboard\Model\Data\CollectorUser"/>
    <preference for="MageSuite\NotificationDashboard\Api\NotificationRepositoryInterface" type="MageSuite\NotificationDashboard\Model\NotificationRepository"/>
    <preference for="MageSuite\NotificationDashboard\Api\Data\NotificationInterface" type="MageSuite\NotificationDashboard\Model\Data\Notification"/>

    <type name="MageSuite\NotificationDashboard\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>

    <type name="MageSuite\NotificationDashboard\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">notificationDashboardLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">MageSuite\NotificationDashboard\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <type name="MageSuite\Schedule\Model\SchedulerJobsCollector">
        <arguments>
            <argument name="jobsGroups" xsi:type="array">
                <item name="notificationDashboard" xsi:type="array">
                    <item name="cronjob" xsi:type="object">MageSuite\NotificationDashboard\Model\Schedule\Jobs</item>
                    <item name="processor" xsi:type="object">MageSuite\NotificationDashboard\Service\Scheduler\Processor</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="MageSuite\NotificationDashboard\Service\NotificationSender\Channel\Resolver">
        <arguments>
            <argument name="channels" xsi:type="array">
                <item name="send_to_email" xsi:type="object">MageSuite\NotificationDashboard\Service\NotificationSender\Channel\Email</item>
            </argument>
        </arguments>
    </type>

    <type name="MageSuite\NotificationDashboard\Model\Collector\TypeResolver">
        <arguments>
            <argument name="collectorTypes" xsi:type="array">
                <item name="not_paid_invoice" xsi:type="array">
                    <item name="label" xsi:type="string">Orders - Not paid invoice</item>
                    <item name="command" xsi:type="object">MageSuite\NotificationDashboard\Model\Command\Notification\Collector\GetOrdersWithNotPaidInvoices</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
                <item name="not_updated_order_status" xsi:type="array">
                    <item name="label" xsi:type="string">Orders - Not updated status</item>
                    <item name="command" xsi:type="object">MageSuite\NotificationDashboard\Model\Command\Notification\Collector\GetOrdersWithNotUpdatedStatus</item>
                    <item name="sortOrder" xsi:type="number">20</item>
                </item>
                <item name="missing_payment_methods" xsi:type="array">
                    <item name="label" xsi:type="string">Payment - Missing payment methods</item>
                    <item name="command" xsi:type="object">MageSuite\NotificationDashboard\Model\Command\Notification\Collector\GetAvailablePaymentMethods</item>
                    <item name="sortOrder" xsi:type="number">30</item>
                </item>
                <item name="products_without_images" xsi:type="array">
                    <item name="label" xsi:type="string">Products - Missing images</item>
                    <item name="command" xsi:type="object">MageSuite\NotificationDashboard\Model\Command\Notification\Collector\GetProductsWithoutImages</item>
                    <item name="sortOrder" xsi:type="number">40</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
